#signup {
    display: grid;
    justify-content: space-between;
}

#body {
    background-image: url(./assests/vaza-tsvety-fon-buket-vase-flowers.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#name {
    border-radius: 5px;
    transition: 0.5s;
}
#name:hover {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: scale(1.1);
}

#email {
    border-radius: 5px;
    transition: 0.5s;
}
#email:hover{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: scale(1.1);
}

#password {
    border-radius: 5px;
    transition: 0.5s;
}
#password:hover{
    transform: scale(1.1);
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#submit {
    border-radius: 5px;
    transition: 0.5s;
}
#submit:hover{
    background-color: aqua;
    border-radius: 30px;
}

#number {
    border-radius: 5px;
    transition: 0.5s;
}
#number:hover {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: scale(1.1);
}

#HOME {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background :orange;
    transition: 0.5s;
    font-size: 15px;
}
#HOME:hover{
    background: gold;
    transform: scale(1.1);
}

#login {
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background :orange;
    transition: 0.5s;
    font-size: 15px;
}
#login:hover {
    background: gold;
    transform: scale(1.1);
}